.header
	width 100%
	height 100vh
	flex(mid)
	position relative
.nav-wrap
	flex(between)
	padding 20px 0
	position relative
.logo
	width 200px
	+below(1200px)
		width 100px
	+below(768px)
		width 35%
.menu
	width 50%
	+above(768px)
		display block !important
	+below(768px)
		width auto
		display none
.menu-wrap
	flex(between)
	+below(768px)
		position absolute
		top 100%
		left -10px
		flex-wrap wrap 
		background white 
		width calc(100% + 20px)
.nav__toggle
	width 20%
	flex(mid)
	justify-content flex-end
	.icon
		size 25px
	+above(768px)
		display none
.menu__el
	color black
	+below(768px)
		width 100%
		text-align center
		padding 10px 0
		border-bottom 1px solid #f6f6f6
		up()
.nav__phone
	font-size 28px
	color black
	+below(1200px)
		font-size 16px
	+below(768px)
		text-align center
		width 100%
		font-size 18px
		font-weight bold 
.nav
	background white 
	position fixed
	z-index 100
	top 0
	left 0
	width 100%
.header-content
	flex(mid)
	fl()
	fw() 
	.icon
		size 40px
		fill grey
		margin-top 20px
	img
		width 200px
		margin-bottom 10px
		display block
.header-content-text
	+below(768px)
		font-size 40px
	font-size 6vw
	up() 
.header-content-text-sub
	+below(768px)
		color black
	color grey
	font-size 18px
	font-weight 200 
.section-advants-img
	+below(768px)
		top -50px
	position absolute
	top -150px
	left 0
	width 100%
	img
		+below(768px)
			width 200px
		width 600px
		margin 0 auto
.section-advants
	+below(768px)
		margin-top 30px
	background #303030 
	position relative
	margin-top 150px
	.section-title
		+below(768px)
			margin-top 90px
		margin-top 150px
.section-title
	+below(768px)
		font-size 20px
	up()
	text-align center
	font-size 34px
.section-title--white
	color white
.section-title-sub
	+below(768px)
		font-size 12px
		width 80%
		margin 0 auto
		margin-bottom 20px
	up()
	text-align center
	color grey
	font-size 14px
	margin-bottom 40px
.section-title-sub--white
	color darken(white,30)

.advants-cont
	+below(768px)
		margin-top 20px
	flex(between)
	fw()
	margin-top 90px
.advants-el
	+below(768px)
		width 45%
		margin-bottom 20px
	flex(mid)
	fl()
	fw()
	width 30%
	margin-bottom 90px
.advants-icon
	margin-bottom 20px
	.icon
		+below(768px)
			size 50px
		fill white
		size 90px

.advants-text
	+below(768px)
		font-size 14px
	text-align center
	color darken(white,30)
	font-size 20px
//.section-work
//.section-title
//.section-title-sub
//.main-cont
.work-cont
	+below(768px)
		fw()
		margin-top 0
	f()
	margin-top 50px
.work-img
	+below(768px)
		width 100%
		img
			margin 0 auto
	width 50%
.work-list
	+below(768px)
		width 100%
	width 50%
.work-list-el
	f()
	border 1px solid black 
	margin-bottom 20px
.work-list-numb
	+below(768px)	
		width 100px
		flex(mid)
	font-size 42px
	padding 20px
	border-right 1px solid black 
.uber-img
	+below(768px)
		width 200px
.work-list-text
	+below(768px)	
		width calc(100% - 100px) 
	padding 10px 20px
	flex(mid)
.section-uber
	bgi('bg-3.jpg') 
.uber
	flex(mid)
	fl()
.uber-title
	@extend .header-content-text
	color white
.uber-title-sub
	+below(768px)
		width 100%
		font-size 12px
	@extend .header-content-text-sub
	color white
	text-align center
	width 70%
	margin-bottom 40px
.uber-title-get
	+below(768px)
		width 100%
		padding 20px  0
		text-align center
	@extend .btn
	color black
	&:hover
		background yellow
		color white 
.uber-get
	+below(768px)
		width 100%
		padding 20px 0
		text-align center
		margin-bottom 0
	@extend .btn
	color black
	&:hover
		background yellow
		color white 
.valid-img
	max-width 800px
	margin 40px auto
	 
.valid-cont
	+below(768px)
		margin-top 20px
	flex(between)
	fw()
	margin-top 80px
.valid-el
	+below(768px)
		width 100%
	width 30%
	margin-bottom 30px
.valid-title
	margin-bottom 10px
	span
		up()
		font-weight bold 
.valid-numb
	font-size 48px
	display inline-block
	margin-right 10px
.section-pay
	+below(768px)
		background #2b2a27 
		flex(mid)
		fl()
		height auto
		padding 40px 0
	bgi('bg-2.jpg') 
	height 800px
	padding 0
	flex(mid)
	bg-full()
.pay
	+below(768px)
		width 100%
		flex(mid)
		fl()
	width 50%
.pay-title
	+below(768px)
		text-align center
		font-size 24px
	up()
	color white
	font-size 32px
.pay-text
	+below(768px)
		font-size 14px
		text-align center
	color darken(white,30)
	margin 30px 0
.cont-wrap
	+below(768px)
		padding 30px 0
		margin-top 30px
	background #E9E9E9 
	margin-top 80px
	padding 80px 0
.cont
	+below(768px)
		fw()
	flex(between)
.form
	+below(768px)
		width 100%
		margin-bottom 30px
		padding 10px
	width 40%
	background white
	border 1px solid black
	padding 40px 
	input
		width 100%
		margin-bottom 10px
	textarea
		width 100%
label.error
	margin-bottom 10px
	display inline-block
.form-title
	+below(768px)
		font-size 18px
	up()
	text-align center
	font-size 24px 
.form-title-sub
	+below(768px)
		margin-bottom 10px
	text-align center
	font-size 14px
	color darken(white,30)
	margin-bottom 30px
.cont-info
	+below(768px)
		width 100%
	width 50%
.cont-info-title
	+below(768px)
		font-size 24px
		text-align center
	up()
	font-size 48px
	margin-bottom 40px
.cont-info-el
	flex(mid)
	justify-content flex-start
	margin-bottom 20px
.cont-info-icon
	.icon
		size 40px
		margin-right 20px
.cont-info-text
	+below(768px)
		font-size 18px
	font-size 20px
.cont-text
	color darken(white,60)
.form-get 
	@extend .btn
	width 100%
	text-align center
	color white
	background black
	margin-top 20px 
	&:hover
		background white
		color black 
		
.section-cont
	padding-bottom 0
.activ-nav
	border-bottom 1px solid black

.modal
	display none
	background white
	padding 30px 20px
	br(4px) 
	position relative
	.icon-times
		position absolute
		top 10px
		right 10px
		font-size 22px
		cp()

.modal-true
	background black
	padding 4%
.modal-wrap
	flex(mid)
	fl()
	fw()
	.icon
		fill white
		size 80px 
		margin-bottom 20px
.modal-true-text
	text-align center
	color white
	font-size 20px
	up()

.valid
	+below(1024px)
		fw()
		margin-bottom 0px
	flex(between)
	align-items initial
	margin-bottom 80px
.valid-col
	+below(1024px)
		width 100%
	width 48%
	margin-bottom 20px
	//padding 20px
	//background #f8f8f8
	//box-shadow 0px 0px 10px #e5e0e0
.valid-col-title
	+below(1024px)
		font-size 18px
	font-size 28px
	margin-bottom 20px
	up()
	text-align center
.valid-list
	color #302f2f
	//border 1px solid #d1cccc
	margin-bottom 10px
	padding 10px
	background #e8eae9 
.valid-img-wrap
	flex(between)
	fw()
.valid-img-el
	+below(768px)	
		width 48%
		height 150px
	width 24%
	height 200px
	bg-full()
	margin-bottom 10px
	br(5px)

.car-row
	flex(mid)
	.uber-title-get 
		background black
		color white 